body{
  background-color: #e0ebe8;
  text-align: center;
}
hr{
  border-top: 10px dotted #45b29a;
  width: 50px;
  margin-bottom: 10px;
}
.head-image {
  max-width: 100%;
  max-height: 100%;
    border-radius:50%;


}
.name-container{
  text-align: center;
  color: #45b29a;
}
.image-container{

  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
  left: 300;
}
.poem-container{
  background-color: #ecfbfc;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 700px;
  padding: 50px;
  text-align: justify;
  font-family: cursive;
  border-radius: 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#323232;
  color: white;
  text-align: center;
}
